<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <style>

        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 40px;
        }

        h1 {
            font-size: 36px;
            color: #333;
        }

        p {
            font-size: 18px;
            color: #666;
        }
    </style>
    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 3000);
    </script>
</head>
<body>
    <h1>Ops! Não tem nada aqui além de Dominós!</h1>
    <p>Redirecionando você para o lugar certo em 3.2.1...</p>
</body>
</html>

